<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crowdin.platform">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".auth.AuthActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@style/AuthTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
